.arrow {
  padding-top: 10%;

  position: absolute;
  top: 100vh;
  transition: opacity 0.2s;
  z-index: 5;

  text-align: center;
  img {
    height: 15vh;
  }
}

.arrow-col {
  height: inherit;
  position: relative;
  padding: 0;
}



.arrowPlace img {
    position: absolute;
    top: 0;
    height: 15vh;
    z-index: 100;
    opacity: 0.6;
    // width: 15vw;
}

.arrowPlace {
  position: absolute;

}

.arrowPlacePressed img {
  opacity: 1;
}


.animContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.row {
  height: inherit;
}

.player-1 {
  height: inherit;
}

.pusher {
  height: 5%;
}

.fader {
  position: absolute;
  top: -5%;
  height: 12.5%;
  width: 100%;
  background: linear-gradient(0deg, rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
  z-index: 10;
}


.chute {
  position: absolute;
  top: -5%;
  height: 12.5%;
  width: 100%;
  background: rgba(30, 30, 30, 1);
  z-index: 4;
}


.under-chute {
  position: absolute;
  top: 7.5%;
  height: 15.5%;
  width: 100%;
  background: linear-gradient(0deg, rgba(30, 30, 30, 0), rgba(30, 30, 30, 1));
  z-index: 4;
}

.chute-right {
  width: 147%;
}

.chute-left {
  width: 147%;
  left: -47%;
}

#player-1-arrowLane {
  position: relative;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.7);
  z-index: 1;
  &:first-child {
    padding-left: 75px;
  }
  &:last-child {
    padding-right: 75px;
  }
}

.container {
  z-index: 1;
  height: 100%;
}

iframe {
  top: -80px;
  width: 100%;
  height: 60%;
}
