.arrow {
  position: absolute;
  top: 100vh;
  // left: 0;

  text-align: center;
  // background-color: blue;
  img {
    height: 15vh;
  }
}

.arrow-col {
  position: relative;
}

.arrowPlace img {
    position: absolute;
    top: 0;
    height: 15vh;
    // width: 15vw;
}

.animContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.trackContainer {
  background-color: rgba(0, 0, 0, 0.7);;
  height: 100%;
  width: 45%;
  margin-left: 7%;
  position: relative;
  z-index: 2;
  top: -100%;
}

.container {
  position: relative;
  z-index: 3;
  top: -200%;
}

iframe {
  // float: right;
  // margin-top: auto;
  // margin-bottom: auto;
  top: -80px;
  width: 100%;
  height: 60%;
}
