#modal {

  text-align: center;
  border-radius: 10px;
  border: 4px solid white;
  background-color: #41474b;

  input {
    border: 4px solid white;
    display: block;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;

  }

  h3 {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #ea4c88;
  }

  
 







}