//
// .menuX.activeChoice {
//   font-size: 80px;
//   color: #a92658;
// }

.menuXParent {
  padding-top: 2%;
}

.uploadTitle {
  font-size: 70px;
}

.upload {
  font-family: EchoDeco;
  font-weight: 10;
  font-size: 60px;
  color: #ea4c88;
  padding-top: 10%;
  text-align: center;
  // background-color: red;
  * {
    cursor: pointer;
  }
}

span.button:hover {
  color: #a92658;
  font-size: 63px;
}

.blink-upload {
  color: white;
  // font-size: 63px;
}

.btn-upload {
  color: #ea4c88;
  background-color: black;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
}

.btn-upload:hover {
  color: #a92658;
  font-size: 63px;
  background-color: black;
  border-radius: 20px;
  padding: 3px 23px 3px 23px;
}

.uploadFile {
  color: white;
}
