/* hardware accelatator class */
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}

	h1 {
		margin-top: 3.5%;
  		font-family: 'EchoDeco';
  		src: url('/img/font/EchoDeco.ttf');
  		color: #ea4c88;
  		font-size: 11vh;
  		text-align: center;
	}

	#contentContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-5%;
		left:50%;
		top:45%;
		width:1000px;
		height:100%;
	}

	#carouselContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		min-width:1000px;
		min-height:1000px;
	}

	.carouselItem
	{
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;

		p {
			margin-top: -15px;
		}
	}

	.carouselItemInner
	{
		width:320px;	//384px
		height:130px;	//120px
		position:absolute;
		background-color:rgba(234, 76, 136, .75);
		//border:10px solid rgba(212, 65, 121, .5);
		color:#eee;
		font-size:30px;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		text-align:center;
		padding-top:50px;

	}

	.carouselItemInner:hover
	{
		background-color:rgba(212, 65, 121, .75);
	}

	.loadingScreen {
		width: inherit;
		height: inherit;
		background-color: black;
		border: 5px solid white;
	}

	//note for later - change the widths and heights of the parent elements to be %
	.loadingSphere {
		margin-left: 35%;
		margin-top: 10%;
	}

	// .choose-level {
	// 	font-size: 32px;
	// 	color: #b2b2b2;
	// 	position: absolute;
	// 	// top: -5vh;
	// 	top: 0%;
	// 	right: 5%;
	// 	width: 15%;
	// 	div {
	// 		max-height: 9vh;
	// 	}
	// }
	
	.choose-level {
		font-size: 30px;
		color: #b2b2b2;
		position: relative;
		top: -6.5vh;
		left: 80%;
		width: 15%;
		div {
			max-height: 6vh;
		}
	}


	#chart-info {
		font-size: 32px;
		color: #b2b2b2;
		position: absolute;
		top: 14%;
		left: 5%;
		width: 15%;
		div {
			max-height: 9vh;
		}
	}

	.selected {
		font-size: 32px;
		font-weight: bold;
		color: white;
	}

	.activeSong {
		background-color: #E9A92E;
		//border:10px solid #E9A92E;
	}

	.song-banner {
		position: absolute;
		top: 0;
		left: 0;
		background-size: contain;
		min-width: 100%;
		overflow: hidden;
	}
