.view-score {
  	font-family: 'EchoDeco';
  	src: url('/img/font/EchoDeco.ttf');
  	// font-weight: lighter;
	// color: white;
	color: #ea4c88;
	font-size: 10vh;
	z-index: 100;
	text-align: center;
	opacity: 0.5;
}