div.loadingScreen {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  // background-color: black;
  // border: 1px solid white;
}

//note for later - change the widths and heights of the parent elements to be %
.loadingSphere {
  img {
    width: 30%; 
    height: 30%; 
    margin: 4%;
  }
  margin-left: auto;
  margin-top: 4%;
  font-family: EchoDeco;
  font-weight: 10;
  font-size: 4.5vh;
  color: #ea4c88;
  padding-top: 2%;
  text-align: center;
  div {
    padding: 10px;
  }
}
