<div class='upload'>
  <div class='uploadTitle'>- Upload Your Own Beats! -</div>
  <form name="form">
    <div>
      <span>Single mp3 file</span>
      <span ng-hide='song' class="button" ngf-select ng-model="song" name="song" ngf-pattern="'audio/*'" accept="audio/*">
        <span class='songUpload'>+</span>Select<span class='songUpload'>+</span>
      </span>
      <span ng-show='song' class='uploadFile'>{{song.name}}</span>
    </div>
    <div>
      <span>Single sm file</span>
      <span ng-hide='sm' class="button" ngf-select ng-model="sm" name="sm" ngf-pattern="'.sm'"accept=".sm">
        <span class='smUpload'>+</span>Select<span class='smUpload'>+</span>
      </span>
      <span ng-show='sm' class='uploadFile'>{{sm.name}}</span>
    </div>
    <div>
      <span>Single background file</span>
      <span ng-hide='bg' class="button" ngf-select ng-model="bg" name="song" ngf-pattern="'image/*'" accept="image/*">
        <span class='bgUpload'>+</span>Select<span class='songUpload'>+</span>
      </span>
      <span ng-show='bg' class='uploadFile'>{{bg.name}}</span>
    </div>
    <button class='btn-upload' type="submit" ng-click="submit()">submit</button>
  </form>
</div>
