#highScoreContainer {

  width: 70%;
  margin: 2% auto;

  hr {
    width: 70%;
    margin: 10px auto;
  }

  h3 {
    color: $base__font-active-color;
    font-family: 'Frieda';
    text-align: center;
    font-size: 35px;
  }

  h2 {
    font-size: 50px;
    color: $base__font-active-color;
    font-family: 'Frieda';
    text-align: center;
    margin-top: 0;
  }

  .titles {
    padding-bottom: 0;
  }

  .score-item {
    font-family: 'StonyIslandNF';
    text-align: center;
    color: $base__color;
    h4 {
      font-size: 35px;
    }

  }



}
