#animation {
  padding-top: 90px;
  .arrow {
    position: absolute;
    top: 100vh;
    text-align: center;
    transition: opacity 0.2s;

    img {
      height: 15vh;
    }
  }

  .arrow-col {
    position: relative;
  }

  .arrowPlace img {
      position: absolute;
      top: 0;
      height: 15vh;
  }
}
