.arrow {
  position: absolute;
  top: 100vh;
  // left: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
  // background-color: blue;
  img {
      width: 100px;
  }
}

.arrow-col {
  position: relative;
}

.arrowPlace {
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: red;
}
