div#main.ng-enter, div#main.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

div#main.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0, 0, 0);
  -moz-transform:scale3d(0, 0, 0);
  transform:scale3d(0, 0, 0);
}

div#main.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

div#main.ng-leave {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

div#main.ng-leave-active {
  opacity: 0;
  -webkit-transform:scale3d(0, 0, 0);
  -moz-transform:scale3d(0, 0, 0);
  transform:scale3d(0, 0, 0);
}

* {
  box-sizing: border-box;
  cursor: none;
}

$base__bgcolor: #2c3338;
$base__color: #606468;
$base__font-family-fallback: sans-serif;
$base__font-family: 'Open Sans';
$base__font-size: 1.3rem;
$base__font-weight: 400;
$base__line-height: 1.5;

html {
  height: 100%;
}

body {
  background-color: $base__bgcolor;
  color: $base__color;
  font: $base__font-weight #{$base__font-size}/#{$base__line-height} $base__font-family, $base__font-family-fallback;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  opacity: 0.8;
  height: 100%;
  weight: inherit;
}

$arrow-height: 120px;

.wrap {
  margin: 0 auto;
  max-width: 75%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.btn.round {
  border-radius: 24px;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid#2DDEFF;
  // outline: 1px solid #FFFFFF;
  color: #2DDEFF;
}

.btn-primary.outline.active {
    color: white;
    border-color: white;
}

.btn-primary.activeHome {
    color: white;
    border-color: white;
}

#video-landing, #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  min-width: 100%;
  overflow: hidden;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  min-width: 100%;
  overflow: hidden;
  opacity: 0.7;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  width: inherit;
  height: inherit;
  margin: 0 auto;
}

@import 'directives/main';
@import 'login/main';
@import 'signup/main';
@import 'chooseSong/main';
@import 'mainMenu/main';
@import 'loading/main';
@import 'upload/main';
@import 'animation/main';
@import 'results/main';
@import 'key-binding';
@import 'versus';
