div#main.ng-enter, div#main.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

div#main.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0, 0, 0);
  -moz-transform:scale3d(0, 0, 0);
  transform:scale3d(0, 0, 0);
}

div#main.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

div#main.ng-leave {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

div#main.ng-leave-active {
  opacity: 0;
  -webkit-transform:scale3d(0, 0, 0);
  -moz-transform:scale3d(0, 0, 0);
  transform:scale3d(0, 0, 0);
}

* {
  box-sizing: border-box;
}

$arrow-height: 120px;

// overflow hidden to keep from seeing hidden arrow divs -- do we need to scroll ever?
body {
  overflow: hidden;
  // background: #464A4D; // gray color?
  opacity: 0.8;
  background: #fdfdfd;
  height: 100%;
  weight: inherit;
}

.wrap {
  margin: 0 auto;
  max-width: 75%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.btn.round {
  border-radius: 24px;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid#2DDEFF;
  // outline: 1px solid #FFFFFF;
  color: #2DDEFF;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: white;
}
// .btn-primary.outline:active, .btn-primary.outline.active {
//     border-color: #007299;
//     color: #007299;
//     box-shadow: none;
// }

.btn-primary.activeHome {
    color: white;
    border-color: white;
}

#video-landing, #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  min-width: 100%;
  overflow: hidden;
}

#bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  min-width: 100%;
  overflow: hidden;
  opacity: 0.7;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  width: inherit;
  height: inherit;
  margin: 0 auto;
}

@import 'directives/main';
@import 'login/main';
@import 'signup/main';
@import 'chooseSong/main';
@import 'mainMenu/main';
@import 'loading/main';
@import 'upload/main';
@import 'animation/main';
@import 'results/main';

