* {
  box-sizing: border-box;
}

$arrow-height: 120px;

// overflow hidden to keep from seeing hidden arrow divs -- do we need to scroll ever?
body {
  overflow: hidden;
  background: #fdfdfd;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'login/main';
@import 'animation'
