#mainMenuPage {

    #mainMenuOptions {
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;

      .menuX.activeChoice {
        font-size: 60pt;
        color: $base__font-active-color;
      }

      .menuXParent {
        padding-top: 2%;
      }
      .menuX {
        margin-top: 3vh;
        font-family: 'Frieda';
        font-size: 50pt;
        line-height: 80px;
        color: $base__font-color;
        text-align: center;
      }
    }

}
    // #landingPageAnimationContainer {
    //   z-index: 1;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    // }
