@font-face {
  font-family: 'EchoDeco';
  src: url('/img/font/EchoDeco.ttf');
}

.menuX.activeChoice {
  font-size: 80px;
  color: #a92658;
}
.menuXParent {
  padding-top: 2%;
}

.menuX {
  font-family: EchoDeco;
  font-weight: 10;
  font-size: 60px;
  color: #ea4c88;
  padding-top: 2%;
  text-align: center;
  // background-color: red;
}
