@font-face {
  font-family: 'EchoDeco';
  src: url('/img/font/EchoDeco.ttf');
}

.menuX.activeChoice {
  font-size: 60pt;
  color: #3E98DF;

}
.menuXParent {
  margin-top: 7%;
}

.menuX {
  margin-top: 3vh;
  font-family: EchoDeco;
  font-size: 50pt;
  line-height: 80px;
  color: #ea4c88;
  text-align: center;
}
