<div class="container">
  <div class="row">
    <div class="col-sm-6 player-1">
      <div class="row">
        <div class="col-sm-3 left-arrow-col arrow-col-0 arrow-col">
            <div class="arrowPlace"><img src="/img/left-blank.png"></img></div>

        </div>
        <div class="col-sm-3 down-arrow-col arrow-col-1 arrow-col">
            <div class="arrowPlace"><img src="/img/down-blank.png"></img></div>

        </div>
        <div class="col-sm-3 up-arrow-col arrow-col-2 arrow-col">
            <div class="arrowPlace"><img src="/img/up-blank.png"></img></div>

        </div>
        <div class="col-sm-3 right-arrow-col arrow-col-3 arrow-col">
            <div class="arrowPlace"><img src="/img/right-blank.png"></img></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 player-2">
      <div class="row">
        <div class="col-sm-3 left-arrow-col"></div>
        <div class="col-sm-3 down-arrow-col"></div>
        <div class="col-sm-3 up-arrow-col"></div>
        <div class="col-sm-3 right-arrow-col"></div>
      </div>
      <!-- <form>
        <div class='form-group'>
          <label>Choose Song</label>
          <select ng-model='choice.song' ng-change='getDifficulties()'>
            <option ng-repeat="song in songs" value='{{song}}'>{{song.title}}</option>
          </select>
        </div>
        <div class='form-group' ng-show="choice.song">
          <label>Difficulty</label>
          <select ng-model='choice.difficulty' ng-change='setUpSong()'>
            <option ng-repeat="level in choice.levels" value="{{level}}">{{level}}</option>
          </select>
        </div>
      </form> -->
      <div class="row">
        <button ng-click="setUpSong()" >SET IT UP</button>
        <button ng-click="runInit()" ng-show="ready">START SHIZ</button>
      </div>
    </div>
  </div>
</div>
