<div class='animContainer'>
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2HQaBWziYvY" frameborder="0" allowfullscreen></iframe> -->
  <video id='bg-video' ng-src="{{videoSrc}}" muted loop>
    <!-- <source ng-src="{{videoSrc}}" type='video/mp4'></source> -->
  </video>
</div>

<div class='trackContainer'>
  <div class='track'>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 player-1">
      <div class="row">
        <div class="col-sm-3 left-arrow-col arrow-col-0 arrow-col">
            <div class="arrowPlace"><img src="/img/left-blank.png"></img></div>

        </div>
        <div class="col-sm-3 down-arrow-col arrow-col-1 arrow-col">
            <div class="arrowPlace"><img src="/img/down-blank.png"></img></div>

        </div>
        <div class="col-sm-3 up-arrow-col arrow-col-2 arrow-col">
            <div class="arrowPlace"><img src="/img/up-blank.png"></img></div>

        </div>
        <div class="col-sm-3 right-arrow-col arrow-col-3 arrow-col">
            <div class="arrowPlace"><img src="/img/right-blank.png"></img></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 player-2">
      <div class="row">
        <div class="col-sm-3 left-arrow-col"></div>
        <div class="col-sm-3 down-arrow-col"></div>
        <div class="col-sm-3 up-arrow-col"></div>
        <div class="col-sm-3 right-arrow-col"></div>
      </div>
      <div class="row">
        <button ng-click="setUpSong()" >SET IT UP</button>
        <button ng-click="runInit()" ng-show="ready">START SHIZ</button>
      </div>
    </div>
  </div>
</div>
